@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:ital,wght@0,800;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Shared Styles */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header styles */
header {
}

/* nav styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 240px;
  /* width: 1920px;
  height: 130px; */
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-img {
  width: 80px;
  height: 40px;
}
.nav-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.g {
  color: #ffa2a5;
}
.amer {
  color: #0b0223;
}
/* .nav-contact{
    align-items: center;
} */
.nav-contact ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}
.nav-contact a {
  text-decoration: none;
  color: #3c354f;
}
.follow {
  width: 262px;
  height: 56px;
  padding: 5px 5px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.vector {
  width: 1rem;
  height: 1.5rem;
}
.tiktok {
  width: 24px;
  height: 15px;
}
