@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:ital,wght@0,800;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* SHARED STYLES */
* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
body {
  background: #fff;
}

/* HEADER STYLES */
header {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

/* NAV STYLES */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  /* width: 1920px;
  height: 130px; */
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-img {
  width: 3rem;
  height: 1.4rem;
}
.nav-title {
  font-size: 1rem;
  font-weight: 700;
}
.g {
  color: #ffa2a5;
}
.amer {
  color: #0b0223;
}
/* .nav-contact{
    align-items: center;
} */
.nav-contact ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
  /* font-size: 18px; */
}
.nav-contact li {
  font-size: 10px;
}
.nav-contact a {
  text-decoration: none;
  color: #3c354f;
}

.follow {
  width: 150px;
  height: 30px;
  padding: 3px 3px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  gap: 10px;
}
.vector {
  width: 1rem;
  height: 1.5rem;
}
.tiktok {
  width: 24px;
  height: 15px;
}

/* BANNER STYLES */
.banner-section {
  display: flex;
  justify-content: space-between;
  /* gap: ; */
  align-items: center;
  margin-right: 100px;
}
.banner-content {
  background: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  padding: 100px 100px;
  text-align: left;
  gap: 0px;
}
.play {
  color: #0b0223;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.goat {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 0px;
}
.one-click,
.no-download,
.one-thousand {
  font-size: 10px;
}
.btn-primary-sign-in {
  padding: 10px 20px;
  border-radius: 20px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
}
.btn-primary-go {
  padding: 10px 20px;
  border-radius: 20px;
  background: #4ec5f7;
  color: #fff;
}
.banner-img img {
  width: 70%;
  height: 70%;
}

/* ONLINE GAMES STYLES */
.online-games-section {
  /* margin: 120px 70px 120px 120px; */
  padding: 120px 240px 120px 170px;
}
.online-games-container {
  /* gap: 10px; */
}
.online-games-text {
  text-align: center;
  /* gap: 5px; */
  /* margin-bottom: 5px; */
}
.online-games-title {
  font-size: 30px;
  font-weight: 700;
}
.online-games-p {
  font-size: 10px;
  font-weight: 400;
  color: #534c64;
  /* margin-top: 10px; */
}
.online-games {
  color: #0b0223;
}
.funny-videos {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games-img {
  width: 150px;
  height: 200px;
  display: flex;
  /* justify-content: center; */
  gap: 0.5rem;
}
.online-games-img img{
  width: ;
  height: ;
}
.online-games-img figcaption{
  font-size: 10px;
}

/* PLAY INSTANTLY STYLES */
.play-instantly-section {
  padding: 120px 200px 120px 150px;
  gap: 70px;
  display: flex;
  align-items: center;
  background: #fff;
}
.play-instantly-text {
  text-align: right;
  gap: 10px;
  align-items: center;
}
.play-instantly-text h3 {
  width: 60%;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.play-instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.no-downloads {
  color: #0b0223;
}
.play-instantly-text p {
  width: 200px;
  font-size: 10px;
  font-weight: 400;
  color: #534c64;
  text-align: right;
}
.play-instantly-img {
}
.play-instantly-img img {
  width: 90%;
  height: 70%;
}
#img-sixty-six {
  width: 50%;
  height: 40%;
  position: relative;
  top: -200px;
  right: 60px;
}

/* BUTTON SECTION STYLES */
.btn-section {
  /* margin: 50px 70px; */
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  width: 60%;
  height: 70%;
  padding: 200px 305px 200px 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.btn-eleven,
.btn-twelve,
.btn-thirteen,
.btn-fourteen,
.btn-fifteen,
.btn-sixteen,
.btn-seventeen,
.btn-eighteen,
.btn-nineteen {
  display: flex;
  gap: 5px;
  padding: 4px;
  border-radius: 50px;
  background: #FFF;
}

.btn-eleven img,
.btn-twelve img,
.btn-thirteen img,
.btn-fourteen img,
.btn-fifteen img,
.btn-sixteen img,
.btn-seventeen img,
.btn-eighteen img,
.btn-nineteen img{
  width: 40px;
  height: 40px;
}


.btn-eleven p,
.btn-twelve p,
.btn-thirteen p,
.btn-fourteen p,
.btn-fifteen p,
.btn-sixteen p,
.btn-seventeen p,
.btn-eighteen p,
.btn-nineteen p {
  color: #0b0223;
  font-size: 10px;
  font-weight: 600;
}

.btn-thirteen:hover {
  border: 2px solid pink;
}
.btn-thirteen p:hover{
  color: deeppink;
}
